<%- include('partials/head') %> >


    <%- include('partials/navBar') %>
        <div class="container">
            <h1>
                Your random number is: <%= random %>
                    <% if(random%2===0){ %>
                        <h2>This is an even number</h2>
                        <% }else{ %>
                            <h2>This is an odd number</h2>
                            <% } %>

                                <h3>That number is <%= random%2===0 ? 'EVEN' :'ODD' %>
                                </h3>
            </h1>

        </div>
        <%- include('partials/footer') %>